In [11]:
import pandas as pd
import example_board

In [2]:
ex_board = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15]
]

df = pd.DataFrame(ex_board)

In [3]:
df

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15

In [6]:
list_df = df.values.tolist()

In [7]:
list_df

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

In [1]:
[['' for i in range(9)] for j in range(9)]

[['', '', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', '', ''],
 ['', '', '', '', '', '', '', '', '']]

In [9]:
import pandas as pd

# Create a DataFrame
data = {'0': [1, 2, 3],
        '1': [4, 5, 6]}
df = pd.DataFrame(data)

In [10]:
df

   0  1
0  1  4
1  2  5
2  3  6

In [8]:
# Dictionary to update values for specific rows
update_dict_rows = {1: {'0': 50, '1': 60}}

# Update DataFrame using the dictionary
for idx, values in update_dict_rows.items():
    df.loc[idx] = values

print(df)

     0    1
0  1.0  4.0
1  NaN  NaN
2  3.0  6.0

In [29]:
ex_df

   0  1  2  3  4  5  6  7  8
0  7  8  0  4  0  0  1  2  0
1  6  0  0  0  7  5  0  0  9
2  0  0  0  6  0  1  0  7  8
3  0  0  7  0  4  0  2  6  0
4  0  0  1  0  5  0  9  3  0
5  0  0  4  0  6  0  0  0  5
6  0  7  0  3  0  0  0  1  2
7  1  2  0  0  0  7  4  0  0
8  0  4  9  2  0  6  0  0  7

In [48]:
ex_df = pd.DataFrame(example_board.board)
# display(ex_df)

# Dictionary to update values for specific rows
update_dict_rows = {1: {0: 50,
                        # 1: 60,
                        # 2: 70,
                        # 3: 76,
                        # 4: 80,
                        # 5: 95,
                        # 6: 88,
                        # 7: 90,
                        8: 95}}

# Update DataFrame using the dictionary
for row in update_dict_rows.keys():
    print(row)

    for col, val in update_dict_rows[row].items():
        print(col, val)

        ex_df.loc[row][col] = val

# print(ex_df)

1
0 50
8 95

In [49]:
ex_df

    0  1  2  3  4  5  6  7   8
0   7  8  0  4  0  0  1  2   0
1  50  0  0  0  7  5  0  0  95
2   0  0  0  6  0  1  0  7   8
3   0  0  7  0  4  0  2  6   0
4   0  0  1  0  5  0  9  3   0
5   0  0  4  0  6  0  0  0   5
6   0  7  0  3  0  0  0  1   2
7   1  2  0  0  0  7  4  0   0
8   0  4  9  2  0  6  0  0   7